.styled-select select {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   border: 1px solid #ccc;
   height: 34px;
}

.styled-select {
   width: 240px;
   height: 34px;
   overflow: hidden;
   background: url(/img/down_arrow_select.png) no-repeat right #ddd;
}
