<!-- 
<beans:beans xmlns="http://www.springframework.org/schema/security" xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/security
   http://www.springframework.org/schema/security/spring-security-3.1.xsd">
   
   <beans:import resource="affectation-servlet.xml" />

	<http entry-point-ref="casEntryPoint">
	    <intercept-url pattern="/" access="ROLE_ELEVE, ROLE_RESPONSABLE, ROLE_ADMIN" />
		<intercept-url pattern="/admin/**" access="ROLE_ADMIN" />
		<intercept-url pattern="/student/**" access="ROLE_ELEVE" />
		<intercept-url pattern="/files/admin/**" access="ROLE_ADMIN" />
		<intercept-url pattern="/responsable/**" access="ROLE_RESPONSABLE" />
		<intercept-url pattern="/files/**" access="ROLE_ADMIN, ROLE_RESPONSABLE" />
		<intercept-url pattern="/filestudent/**" access="ROLE_ELEVE" />
		<form-login 
			authentication-success-handler-ref="authenticationSuccessHandler" 
			login-page="/login"/>	
		<logout logout-url="/logout" 
		    success-handler-ref="logoutSuccessHandler"/>
		<custom-filter position="CAS_FILTER" ref="casFilter" />
	</http>

	<authentication-manager alias="authenticationManager">
		<authentication-provider ref="casAuthenticationProvider" />
	</authentication-manager>
	
	<beans:bean id="casAuthenticationProvider" class="org.springframework.security.cas.authentication.CasAuthenticationProvider">
		<beans:property name="userDetailsService" ref="userService"/>
		<beans:property name="serviceProperties" ref="serviceProperties" />
		<beans:property name="ticketValidator">
			<beans:bean class="org.jasig.cas.client.validation.Cas20ServiceTicketValidator">
				<beans:constructor-arg index="0" value="https://auth.centrale-marseille.fr/cas" />
        	</beans:bean>
    	</beans:property>
    	<beans:property name="key" value="an_id_for_this_auth_provider_only"/>
	</beans:bean>
	
	<beans:bean id="casFilter" class="org.springframework.security.cas.web.CasAuthenticationFilter">
		<beans:property name="authenticationManager" ref="authenticationManager"/> 
		<beans:property name="authenticationSuccessHandler" ref="authenticationSuccessHandler"/>
	</beans:bean>
	
	<beans:bean id="casEntryPoint" class="org.springframework.security.cas.web.CasAuthenticationEntryPoint">
		<beans:property name="loginUrl" value="https://auth.centrale-marseille.fr/cas/login"/>
		<beans:property name="serviceProperties" ref="serviceProperties"/>
	</beans:bean>
	
	<beans:bean id="serviceProperties" class="org.springframework.security.cas.ServiceProperties">
		<beans:property name="service" value="http://localhost:8080/affectation3A/j_spring_cas_security_check"/>
    	<beans:property name="sendRenew" value="false"/>
	</beans:bean>

</beans:beans>
-->

<beans:beans xmlns="http://www.springframework.org/schema/security"
                  xmlns:beans="http://www.springframework.org/schema/beans"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <http>
        <intercept-url pattern="/admin/**" access="ROLE_ADMIN" />
        <intercept-url pattern="/student/**" access="ROLE_ELEVE" />
        <intercept-url pattern="/files/admin/**" access="ROLE_ADMIN" />
        <intercept-url pattern="/files/**" access="ROLE_ADMIN, ROLE_RESPONSABLE" />
        <intercept-url pattern="/filestudent/**" access="ROLE_ELEVE" />
        <intercept-url pattern="/responsable/**" access="ROLE_RESPONSABLE" />
        <intercept-url pattern="/resources/**" access="ROLE_ADMIN, ROLE_RESPONSABLE" />
        <form-login login-page="/login"
         authentication-success-handler-ref="authenticationSuccessHandler" />
        <logout logout-url="/logout" />
    </http>

    <authentication-manager>
        <authentication-provider user-service-ref="userService">
        </authentication-provider>
    </authentication-manager>
    
    <beans:import resource="affectation-servlet.xml"/>

</beans:beans>
