<beans:beans xmlns="http://www.springframework.org/schema/security"
                  xmlns:beans="http://www.springframework.org/schema/beans"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/security
   http://www.springframework.org/schema/security/spring-security-3.1.xsd">
	
    <http>
        <intercept-url pattern="/admin/**" access="ROLE_ADMIN" />
        <intercept-url pattern="/eleve/**" access="ROLE_ELEVE" />
        <intercept-url pattern="/responsable/**" access="ROLE_RESPONSABLE" />
        <intercept-url pattern="/resources/**" access="ROLE_ADMIN, ROLE_RESPONSABLE" />
        <form-login login-page="/login" 
        			authentication-success-handler-ref="authenticationSuccessHandler" />
        <logout logout-url="/logout" />
    </http>

    <authentication-manager>
        <authentication-provider user-service-ref="userService">
        </authentication-provider>
    </authentication-manager>
    
    <beans:import resource="affectation-servlet.xml"/>

</beans:beans>
